.top_head{width: 100%; height: 1.2rem; background: #cc1421; float: left;}
.top_head .head_back{width: 30%; height: 1.2rem; background: url(/client/images/back_icon.png) no-repeat 20px; background-size: 20%; float: left;}
.top_head .head_title{width: 40%; height: 1.2rem;text-align: center; font-size:0.6rem; color: white; line-height: 1.2rem; float: left; padding-right: 30%;}
