@charset "utf-8";
/* CSS Document */

*{padding:0;margin:0;}
html,body{margin:0px;padding:0px;color:#333333;font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;font-size:0.9em;background:#fff;position:relative;}
img{border:0;position:relative;max-width:100%;}
.clear{height:0px;line-height:0px;font-size: 0px;clear:both;visibility:hidden;overflow:hidden;padding:0;margin:0;}
div,ul,dl,dd,dt,li,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,form{margin:0px;padding:0px;list-style:none;list-style-type:none;word-wrap:break-word;position:relative;border:none;}
a{color:#666666;text-decoration:none;text-align:center;position:relative;cursor:pointer;}
header,footer,nav,section,article,menu,aside{display:block;position:relative;} 
textarea{resize:none;}
i,em{font-style:normal;}
strong{font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
th,td{text-align:left;}
input,select,textarea{font-family:"Microsoft YaHei";}
/*去除ios默认input样式*/
input[type="text"],input[type="password"],input[type="submit"],input[type="reset"], input[type="button"],button{font-family:"Microsoft YaHei";-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:0;}

/* 等待样式 */
.wait{
    width: 100%;
    height: 100%;
    position:fixed;
    left: 0px;
    top: 0px;
    z-index: 99999999999999999;
    text-align: center;
    background: url(/clien/images/colo_waitbd.png);
    display:none;
}

/*第二种抬头*/
.sec_header{
    width: 100%;
    height: 50px;
    background: #cc1421;
    line-height: 50px;
}
.sec_header a{
    width: 18%;
    height: 50px;
    display: block;
    float: left;
    background: url(/client/images/sec_header_icon.png) no-repeat center;
    background-size: 16px;
    text-align: center;
    font-size: 1.4em;
    color: white;
}
.sec_header p{
    width: 64%;
    line-height: 50px;
    float: left;
    color: white;
    font-size: 1.4em;
    color: #ded7d8; 
    text-align: center;
}
.sec_header span{
    width:18%;
    height: 50px;
    float: right;
    background: url(/client/images/sec_header.png) no-repeat center;
    background-size:34px;
}
/*第二种底部*/
.sec_footer{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0px;
    bottom: 0px;
}
.sec_footer li{
    height: 60px;
    float: left;
    line-height: 60px;
    text-align: center;
}
.sec_footer span{
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
}
.sec_footer span img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    float: left;
}
.sec_footer li:nth-child(1){
    width: 17%;
    background: url(/client/images/sec_footerbd.png);
}
.sec_footer li:nth-child(2){
    width: 17%;
    background: url(/client/images/sec_footerbd.png);
}
.sec_footer li:nth-child(3){
    width: 33%;
    background: #ffaa00;
    font-size: 1.3em;
}
.sec_footer li:nth-child(4){
    width: 33%;
    background: #e5373a;
    font-size: 1.3em;
}
.sec_footer li:nth-child(1) span{
    background: url(/client/images/sec_footericon01.png) no-repeat center;
    background-size:24px;
    line-height: 100px;
}
.sec_footer li:nth-child(2) span{
    background: url(/client/images/sec_footericon02.png) no-repeat center;
    background-size:24px;
    line-height: 100px;
}